root = true

[*.{kt,kts}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 4
ktlint_class_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 4
ktlint_function_signature_body_expression_wrapping = default
ktlint_standard_string-template-indent = disabled

[androidApp/src/**/*.kt]
ktlint_function_naming_ignore_when_annotated_with = Composable

[sharedUI/src/**/*.kt]
ktlint_function_naming_ignore_when_annotated_with = Composable

[webApp/src/**/*.kt]
ktlint_function_naming_ignore_when_annotated_with = Composable
